framework: netstandard2.0, net6.0
source https://api.nuget.org/v3/index.json

storage: none

nuget FSharp.Core                                >= 5.0.0 lowest_matching: true
nuget Microsoft.NETFramework.ReferenceAssemblies >= 1.0.0 lowest_matching: true

nuget Aardvark.Build                    ~> 1.0.12
nuget Aardvark.Base.Tensors             ~> 5.2.4

nuget System.Buffers                    >= 4.5.1 lowest_matching: true
nuget System.Memory                     >= 4.5.5 lowest_matching: true

group Test
    framework: net6.0
    storage: none
    source https://api.nuget.org/v3/index.json

    nuget FSharp.Core                       >= 5.0.0 lowest_matching: true

    nuget Aardvark.PixImage.Devil           ~> 5.2.4

    nuget NUnit                             ~> 3.13.3
    nuget FsUnit                            ~> 5.0.0
    nuget FsCheck                           ~> 2.16.4
    nuget FsCheck.NUnit                     ~> 2.16.4
    nuget NUnit3TestAdapter                 ~> 4.2.1
    nuget Microsoft.NET.Test.Sdk            ~> 17.2.0
    nuget Microsoft.TestPlatform.TestHost   ~> 17.2.0
    nuget Expecto                           ~> 9.0.4
    nuget Expecto.FsCheck                   ~> 9.0.4
    nuget YoloDev.Expecto.TestSdk           ~> 0.12.20

    nuget BenchmarkDotNet                   ~> 0.13.1